---
import Layout from "@/layouts/Layout.astro";
import Menu from "@/components/menu.astro";
import { MapPin } from "@lucide/astro"
import { Image } from "astro:assets";
import homeAvatar from "@/assets/images/home-hero-avatar.webp"
import homeHero from "@/assets/images/home-hero.jpg"
---

<Layout>
	<div class="bg-teal-800 w-screen min-h-dvh font-poppins h-full">
		<Menu />
		<main class="flex flex-col w-full">
			<section class="w-full flex flex-col gap-4 md:gap-10 items-center">
				<h1 class="flex flex-col items-center justify-center font-gasoek text-teal-50">
					<span class="text-5xl md:text-7xl uppercase">Blazers</span>
					<span class="text-4xl md:text-5xl md:tracking-[3px]">Sports Bar</span>
				</h1>

				<div class="flex flex-col-reverse md:flex-row gap-3 md:gap-8 w-full flex-1 min-h-0 pt-2 pb-4 md:py-0 md:pb-8 md:max-h-[660px] max-w-5xl px-6 md:pl-8 md:pr-0">
					<div class="flex flex-col justify-start gap-3 md:max-w-[428px]">
						<div class="flex flex-col gap-1 md:gap-2">
							<h2 class="text-teal-50 text-xl md:text-2xl font-bold font-poppins">NYC’s bold, community-first sports bar dedicated to women’s sports.</h2>
							<p class="text-teal-50 md:text-xl">
								Welcome to Blazers — a pioneering bar for women’s sports fans. Enjoy nonstop WNBA coverage, college hoops, World Cup reruns, volleyball championships, and thrilling buzzer-beaters on the big screen.
							</p>
						</div>

						<div class="w-full h-px bg-teal-500">{/* DIVIDER */}</div>

						<div class="flex flex-col gap-2">
							<h2 class="text-teal-50 text-xl md:text-2xl font-bold font-poppins">Want to book the back room?</h2>
							<div class="flex flex-col gap-1 md:gap-2">
								<p class="text-teal-50 md:text-lg">
									The perfect spot for watch parties, birthdays, and club events. Enjoy the game with your crew in an exclusive space with premium viewing and full sound control. All the energy of a sports bar, all the privacy of your own room.
								</p>
								<p class="text-teal-50 md:text-xl font-bold">
									Ready to reserve? <a href="#" class="underline">Contact us!</a>
								</p>
							</div>
						</div>

						<div class="w-full h-px bg-teal-500">{/* DIVIDER */}</div>

						<div class="flex gap-2.5 font-poppins text-teal-50 text-lg md:text-xl font-bold">
							<MapPin />	
							<address>308 Bedford Ave, Brooklyn, NY</address>
						</div>
					</div>

					<div class="relative flex flex-col flex-1 min-h-0 h-auto">
						<Image src={homeAvatar} height={760} alt="" class="absolute top-0 //w-full aspect-auto  object-left object-cover transform -translate-y-26 h-[760px] min-h-[760px] hidden md:block" />
						<Image src={homeHero} height={760} alt="" class="w-full object-cover md:hidden" />
					<div>
				</div>
			</section>

			<section id="calendar" class="flex flex-col gap-8 items-center w-full bg-violet-200 px-6 md:px-8 py-8 md:py-12">
				<h2 class="font-gasoek text-4xl md:text-5xl text-center text-violet-950">What's on T.V.?</h2>
				<div class="relative w-full h-[640px] max-w-5xl">
					<iframe class="hidden md:block w-full h-full top-0 left-0 rounded" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&showPrint=0&showTitle=0&mode=WEEK&showTz=0&showCalendars=0&src=ZWJmNWMyMDgyZGQ3ZTY3NDc3ZTM1NTA0OWFjNjNmZDJiMjg0ZmY2NTFhNzE3YjQyMTY1ZDhlZjkyMDZmMTEwZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237cb342" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
					<iframe class="md:hidden w-full h-full top-0 left-0 rounded" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&showPrint=0&showTitle=0&mode=AGENDA&showTz=0&showCalendars=0&src=ZWJmNWMyMDgyZGQ3ZTY3NDc3ZTM1NTA0OWFjNjNmZDJiMjg0ZmY2NTFhNzE3YjQyMTY1ZDhlZjkyMDZmMTEwZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237cb342" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
				</div>
			</section>
		</main>
	</div>
</Layout>
